<ngx-spinner></ngx-spinner>
<div class="col-12">
    <div class="card card-outline card-primary">
        <div class="card-body">
            <form [formGroup]="reactiveForm" (ngSubmit)="onsubmit()">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group my-1">
                            <input type="text" class="form-control" formControlName="name"
                                placeholder="Nhập tên khách sạn của bạn">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-product-hunt"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('name')?.touched && reactiveForm.get('name')?.errors?.['required']">
                                name required!
                            </span>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('name')?.errors?.['minlength'] && reactiveForm.get('name')?.touched && reactiveForm.get('name')?.invalid">
                                name required at least 5 characters!
                            </span>
                        </div>
                        <label for="exampleFormControlInput1" class="form-label">Địa điểm</label>
                        <div class="input-group my-1">
                            <input type="text" class="form-control" formControlName="tinh"
                                placeholder="Nhập tỉnh/thành phố">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-product-hunt"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('tinh')?.touched && reactiveForm.get('tinh')?.errors?.['required']">
                                is not empty
                            </span>
                        </div>
                        <div class="input-group my-1">
                            <input type="text" class="form-control" formControlName="huyen"
                                placeholder="Nhập quận/huyện">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-product-hunt"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('huyen')?.touched && reactiveForm.get('huyen')?.errors?.['required']">
                                is not empty
                            </span>
                        </div>

                        <div class="input-group my-1">
                            <input type="text" class="form-control" formControlName="xa"
                                placeholder="Nhập xã/phường">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-product-hunt"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('xa')?.touched && reactiveForm.get('xa')?.errors?.['required']">
                                is not empty
                            </span>
                        </div>
                        <div class="input-group my-1">
                            <input type="text" class="form-control" formControlName="sonha"
                                placeholder="Nhập số nhà/ tên đường">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-product-hunt"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('sonha')?.touched && reactiveForm.get('sonha')?.errors?.['required']">
                                is not empty
                            </span>
                        </div>



                        <div class="input-group my-1">
                            <input type="file" class="form-control" multiple formControlName="avatar" id="avatarInput"
                                placeholder="Avatar">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-image"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('avatar')?.touched && reactiveForm.get('avatar')?.value==''">
                                avatar required!
                            </span>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('avatar')?.touched && reactiveForm.get('avatar')?.errors?.['formatimage'] && reactiveForm.get('avatar')?.value!==''">
                                incorrecly image formating jpg png jpeg!
                            </span>
                        </div>

                        <div class="my-3 mx-2">
                            <div>
                                <label for="exampleFormControlInput1" class="form-label">Tiện nghi</label>
                            </div>
                            <div class="form-check" *ngFor="let data of tiennghi">
                                <input class="form-check-input tiennghi" type="checkbox"
                                    (change)="supplementCheckbox($event)" id="{{data.name}}" value="{{data._id}}">
                                <label class="form-check-label" for="{{data.name}}">{{data.name}}</label>
                            </div>
                            <div>
                                <span style="color: red" *ngIf="checkSupplement && touching">
                                    at least one selected supplement!
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                     
                        <div class="input-group my-2">
                            <div class="input-group">
                                <input class="form-control" id="search" placeholder="nhập giờ mở cửa"
                                    formControlName="timeDat" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-clock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('timeDat')?.touched && reactiveForm.get('timeDat')?.invalid">
                                hour opening required!
                            </span>
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group">
                                <input class="form-control" id="search" placeholder="nhập giờ đóng cửa"
                                    formControlName="timeTra" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-clock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('timeTra')?.touched && reactiveForm.get('timeTra')?.invalid">
                                hour ending required!
                            </span>
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group">
                                <input class="form-control" id="search" placeholder="nhập Latitude"
                                    formControlName="Latitude" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-map"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('Latitude')?.touched && reactiveForm.get('Latitude')?.invalid">
                                Latitude required!
                            </span>
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group">
                                <input class="form-control" id="search" placeholder="nhập Longitude"
                                    formControlName="Longitude" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-map"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('Longitude')?.touched && reactiveForm.get('Longitude')?.invalid">
                                Longitude required!
                            </span>
                        </div>

                        <div class="input-group my-2">
                            <div class="input-group">
                                <input class="form-control"  placeholder="nhập diện tích"
                                    formControlName="dienTich" />
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-map"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('dienTich')?.touched && reactiveForm.get('dienTich')?.invalid">
                                Diện tích không được để trống
                            </span>
                        </div>
                        <div class="input-group my-2">
                            <div class="input-group">
                                <textarea class="form-control" formControlName="content"
                                    placeholder="Nhập mô tả" id="floatingTextarea"></textarea>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('content')?.touched && reactiveForm.get('content')?.invalid">
                                content required!
                            </span>
                        </div>




                        <div class="input-group my-2">
                            <div class="input-group">
                                <textarea class="form-control" formControlName="chinhsach"
                                    placeholder="chính sách hoàn huỷ hoặc nhưng thứ cần thiết cần có"
                                    id="floatingTextarea"></textarea>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                *ngIf="reactiveForm.get('chinhsach')?.touched && reactiveForm.get('chinhsach')?.invalid">
                                legal required!
                            </span>
                        </div>

                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Y tế an toàn</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input yte" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value=true>
                            <label class="form-check-label" for="inlineRadio1">có</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input yte" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value=false>
                            <label class="form-check-label" for="inlineRadio2">không</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class=" col-4">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>