<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Mã hoá đơn</th>
            <th scope="col">Tên</th>
            <th scope="col">Người dùng</th>
            <th scope="col">Giá</th>
            <th scope="col">Số ngày</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Trả tiền sau</th>
            <th scope="col">Đã chuyển khoản</th>
            <th scope="col">Đã Cọc phòng</th>
            <th scope="col">Xác nhận hoặc huỷ</th>
            <th scope="col">Yêu cầu huỷ</th>
            <th scope="col">Trả phòng</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataOrderList">
            <th>{{data.idOder}}</th>
            <td>{{data.namePro}}</td>
            <td>{{data.nameUser}}</td>
            <td>{{data.price}}</td>
            <td>{{data.day}}</td>
            <td>{{data.status}}</td>
            <td>{{data.cashMoney==true?data.cashMoney:''}}</td>
            <td>{{data.banking==true?data.banking:''}}</td>
            <td>{{data.isBackingPercent==true?data.isBackingPercent:''}}</td>
            <td>
                <button type="button" class="btn btn-success" [ngClass]=" (data.seem==true) ? 'disabled' :''"
                    (click)="confirmHandler(data.idOder)">Xác nhận phòng</button>
                    <button type="button" class="btn btn-danger" [ngClass]="(data.seem == true) ? 'disabled':''"
                    (click)="cancelHandler(data.idOder)">Huỷ Phòng</button>
            </td>
          
            <td>
                <button type="button" class="btn btn-danger"  [ngClass]=" (data.status ==='Khách huỷ' && data.isCancellationDate == true || data.status ==='Đang chờ' || data.status ==='Chủ đã huỷ' || data.status ==='Đã xác nhận'|| data.status ==='Đã trả phòng') ? 'disabled' :''"
                (click)="confirmCancelAccess(data.idOder) ">Chấp nhận huỷ</button>
            </td>
            <td>
                <button type="button" class="btn btn-success" [ngClass]=" (data.seem==false || data.status ==='Đã trả phòng'|| data.status ==='Chủ đã huỷ') ? 'disabled' :''"
                (click)="clickMethod(data.idOder)"  >Hoàn tất</button>
                
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center align-items-center">
    <div class=" spinner-border" role="status" *ngIf="loading==true">
        <span class=" visually-hidden">Loading...</span>
    </div>
</div>
<!-- <button (click)="createOrder()">addorder</button> -->