<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Mã hoá đơn</th>
            <th scope="col">Tên phòng</th>
            <th scope="col">Người dùng</th>
            <th scope="col">Giá</th>
            <th scope="col">Số ngày</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thanh toán</th>
            <th scope="col">Xác nhận hoặc huỷ</th>
            <th scope="col">Yêu cầu huỷ</th>
            <th scope="col">Trả phòng</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataOrderList">
            <th>{{data.data.idOrder}}</th>
            <td>{{data.namePhong}} ({{data.nameHotel}})</td>
            <td>{{data.nameUser}}</td>
            <td>{{data.data.priceAll}}</td>
            <td>{{data.data.payDay}}</td>
            <td>{{data.data.status=="Khách huỷ"?data.data.status+': '+data.data.reasonUser:data.data.status}}</td>
            <td>{{data.data.cashMoney?'tiền mặt':data.data.banking?'Đã chuyển khoản':data.data.isBackingPercent?'Đã cọc':'' }}</td>
            <td>
                <button type="button" class="btn btn-success" [ngClass]=" (data.seem==true) ? 'disabled' :''"
                    (click)="confirmHandler(data._id)">Xác nhận phòng</button>
                    <button type="button" class="btn btn-danger" [ngClass]="(data.seem == true) ? 'disabled':''"
                    (click)="cancelHandler(data._id)">Huỷ Phòng</button>
            </td>
          
            <td>
                <button type="button" class="btn btn-danger"  [ngClass]=" (data.status ==='Khách huỷ' && data.isCancellationDate == true || data.status ==='Đang chờ' || data.status ==='Chủ đã huỷ' || data.status ==='Đã xác nhận'|| data.status ==='Đã trả phòng') ? 'disabled' :''"
                (click)="confirmCancelAccess(data._id) ">Chấp nhận huỷ</button>
            </td>
            <td>
                <button type="button" class="btn btn-success" [ngClass]=" (data.seem==false || data.status ==='Đã trả phòng'|| data.status ==='Chủ đã huỷ'|| data.status ==='Khách huỷ') ? 'disabled' :''"
                (click)="clickMethod(data._id)"  >Hoàn tất</button>
                
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center align-items-center">
    <div class=" spinner-border" role="status" *ngIf="loading==true">
        <span class=" visually-hidden">Loading...</span>
    </div>
</div>
<!-- <button (click)="createOrder()">addorder</button> -->