<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>{{count.data}}</h3>
        <p>Tổng số lượt đặt phòng</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a routerLink="/host/order" class="nav-link small-box-footer">Chi tiết<i
          class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>{{countFinish.data}}<sup style="font-size: 20px"></sup></h3>

        <p>Đã hoàn thành</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a routerLink="/host/order" class="nav-link small-box-footer">Chi tiết <i
          class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>{{countProcess.data}}</h3>
        <p>Đang chờ</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a routerLink="/host/order" class="nav-link small-box-footer">Chi tiết <i
          class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>{{countFail.data}}</h3>
        <p>Đã hủy</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a routerLink="/host/order" class="nav-link small-box-footer">Chi tiết <i
          class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-12">
    <!-- small box -->
    <div class="small-box bg-light">
      <div class="inner">
        <h2 class="text-center" style="font-size: 20px">Lượt đặt phòng hôm nay: {{getTimeOrder.data}}</h2>
      </div>
      <a routerLink="/host/order" class="nav-link small-box-footer">Chi tiết <i
          class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>



  <div class="col-xl-6 col-md-12 mb-4">
    <div class="card border-left-primary shadow h-100">
      <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 style="margin-top: 10px" class="font-weight-bold text-primary text-uppercase ">Doanh thu từ đặt phòng
          {{checkDay}}</h6>
        <div class="dropdown no-arrow" style="margin-left: 200px;">
          <a type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
            data-bs-target="#dropdownRevenueDay">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu shadow animated-fade-in" aria-labelledby="dropdownRevenueDay"
            style="max-height: 180px; overflow: auto;">
            <div class="dropdown-header bg-light" style="position: sticky; top: 0;">
              <a (click)="getValue(priceLastDay,'hôm qua')" class="dropdown-item">Hôm qua</a>
              <div class="dropdown-divider"></div>
              <a (click)="getValue(priceDay,'hôm nay')" class="dropdown-item">Hôm nay</a>
              <div class="dropdown-divider"></div>
              <a (click)="getValue(priceWeek, 'tuần này')" class="dropdown-item">Tuần này</a>
              <div class="dropdown-divider"></div>
              <a (click)="getValue(priceMonth, 'tháng này')" class="dropdown-item">Tháng này</a>
              <div class="dropdown-divider"></div>
              <a (click)="getValue(priceYear, 'năm này')" class="dropdown-item">Năm này</a>
            </div>
          </div>

        </div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div id="textDisplay" class="h5 mb-0 font-weight-bold text-gray-800">{{price}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-xl-6 col-md-12 mb-4">
    <div class="card border-left-primary shadow h-100">
      <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 style="margin-top: 10px;" class="font-weight-bold text-primary text-uppercase">Doanh thu đang chờ</h6>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{sumPriceWaiting}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12 col-md-12 mb-4">
    <div class="card border-left-primary shadow h-100">
      <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 style="margin-top: 10px;" class="col-4 font-weight-bold text-primary text-uppercase">Doanh thu theo khoảng
          ngày</h6>
        <div class="row mt-2 col-5" ng-if="saleReturn.saleType == 0">
          <div class="col-md-6" style="margin: 25;">
            <input #startDate type="date" class="form-control" id="startdate">
          </div> 
          <div class="col-md-6">
            <input #endDate type="date" class="form-control" id="enddate" >
          </div>
        </div>
        <div style="margin-top: 10px;"><button style="width: 100px;" class="btn btn-primary" (click)="getStartDate()">Tìm</button></div>
      </div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{priceSearch}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      const x = document.getElementById("startdate").value;
  </script>