<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Tên nhà</th>
            <th scope="col">Địa chỉ</th>
            <!-- <th scope="col">Giá</th> -->
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataHouseList">
            <td>#</td>
            <td>{{data.name}}</td>
            <td>{{data.sonha}} - {{data.huyen}} - {{data.tinh}}</td>
            <!-- <td>{{data.price}}</td> -->
            <td><a href="" routerLink="/admin/products/updatepro"><button type="button"
                        class="btn btn-info" (click)="clickIdHouse(data._id)">Sửa</button></a></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteHouse(data._id)">xóa</button>
            </td>
            <td><button type="button" class="btn btn-primary" >Xem Phòng</button>
            </td>
        </tr>
    </tbody>

</table>
<div class="d-flex justify-content-center align-items-center">
    <div class=" spinner-border" role="status" *ngIf="load==true">
        <span class=" visually-hidden">Loading...</span>
    </div>
</div>